*.pyc
.idea
.DS_Store
analytics/migrations/
media/
playground/
.aws/
lap/settings.py
ihc-static/
lungmap_ontology_query/
db.sqlite3
README_ignore.md
build
dist
*.egg-info
*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.env
