
<div class="col-md-6">
  <table class="table ">
    <tbody>
      <tr>
        <td>Experiment ID:</td>
        <td>{{ experiment.experiment_id }}</td>
      </tr>
      <tr>
        <td>Experiment Type:</td>
        <td>{{ experiment.experiment_type }}</td>
      </tr>
      <tr>
        <td>Organism:</td>
        <td>{{ experiment.organism }}</td>
      </tr>
      <tr>
        <td>Age:</td>
        <td>{{ experiment.age }}</td>
      </tr>
      <tr>
        <td>Sex:</td>
        <td>{{ experiment.sex }}</td>
      </tr>
      <tr>
        <td>Release Date:</td>
        <td>{{ experiment.release_date }}</td>
      </tr>
      <tr>
        <td>Platform:</td>
        <td>{{ experiment.platform }}</td>
      </tr>
    </tbody>
  </table>
</div>