<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3" class="center">
        <div style="position:relative">
          <h4>Experiments <span class="badge badge-inverse align-top">{{ lm_experiments.length }}</span></h4>
        </div>
      </th>
    </tr>
    <tr>
      <th>Experiment ID</th>
      <th>Retrieved</th>
    </tr>
  </thead>

  <tbody>

    <tr ng-repeat="(exp_id, exp) in all_experiments">
      <td>
        <a href="#/experiments/{{ exp_id }}" ng-if="exp.retrieved">{{ exp_id }}</a>
        <span ng-if="!exp.retrieved">{{ exp_id }}</span>
      </td>
      <td>
        <span ng-if="exp.retrieved" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span ng-if="!exp.retrieved"><a href ng-click="retrieve_experiment(exp_id)">Retrieve</a></span>

        <div class="progress" style="margin: 0" ng-if="exp.retrieving">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          </div>
        </div>

      </td>
    </tr>

  </tbody>
</table>
