<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th class="center" colspan="50">
          <div style="position:relative">
            <h4>Imageset: {{ animageset.image_set_name }}</h4>
          </div>
        </th>
      </tr>
    </thead>
  </table>
</div>
<div class="row">
  <div class="col-md-4 well well-sm">
    <table class="table">
      <thead>
        <tr>
          <th class="center" colspan="50">
            <h5>Imageset Details</h5>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Magnification:</td>
          <td>{{ animageset.magnification }}</td>
        </tr>
        <tr>
          <td>Species:</td>
          <td>{{ animageset.species }}</td>
        </tr>
        <tr>
          <td>Development Stage:</td>
          <td>{{ animageset.development_stage }}</td>
        </tr>
        <tr>
          <td style="vertical-align: top !important;">Probes:</td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="p in animageset.probes">
                <div class='color-square {{ p.color }}'></div>{{ p.probe_label }} ({{ p.color }})
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8">
    <div class="btn-group" uib-dropdown>
      <button id="choose-img-button" type="button" class="btn btn-default">Choose Image</button>
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-img-button">
        <li ng-repeat="img in animageset.images">
          <a ng-click="image_selected(img)">{{img.image_name}}</a>
        </li>
      </ul>
    </div>

    <div class="btn-group pull-right" ng-if="selected_image" >
      <button type="button" class="btn btn-default {{ mode == 'view' ? 'active' : null }}" ng-click="set_mode('view')">View</button>
      <button type="button" class="btn btn-default {{ mode == 'train' ? 'active' : null }}" ng-click="set_mode('train')">Train</button>
      <button type="button" class="btn btn-default {{ mode == 'classify' ? 'active' : null }}" ng-click="set_mode('classify')">Classify</button>
    </div>

    <p>
      <div class="text-center">
        <strong>{{ selected_image.image_name }}</strong>
      </div>
    </p>

    <img ng-src="{{ selected_image.image_jpeg }}" ng-if="selected_image && mode == 'view'" width="862"/>

    <div ng-if="selected_image && mode == 'train'">
      <div class="row margin-bottom-5">
        <div class="col-md-3">
          <div class="btn-group btn-group-xs pull-left" uib-dropdown>
            <button id="choose-label-button" type="button" class="btn btn-default">Label Subregion</button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-label-button">
              <li ng-repeat="classification in classifications">
                <a ng-click="select_subregion(classification)">{{classification.classification_name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-2">
          <span class="text-center">
            <strong>{{ selected_subregion.classification_name }}</strong>
          </span>
        </div>
      </div>

      <div class="row margin-bottom-5">
        <div class="col-md-6">
          <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-primary" ng-click="add()">Add new</button>
            <button type="button" class="btn btn-primary" ng-click="undo()">Undo</button>
          </div>
          <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-danger" ng-click="clearAll()">Clear All</button>
            <button type="button" class="btn btn-danger" ng-click="removePolygon(activePolygon)">Remove Selected</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-success" ng-click="post_regions()">POST Regions</button>
          </div>
        </div>
      </div>

      <div ng-poly-draw points="points"
           active="activePolygon" image-url="selected_image.image_jpeg"
           width="poly_width" height="poly_height"
           enabled="enabled" palette="colorArray">

      </div>
    </div>

  </div>
</div>