<table class="table">
  <thead>
    <tr>
      <th class="center" colspan="50">
        <div style="position:relative">
          <h4>Experiment: {{ experiment.experiment_id }}</h4>
        </div>
      </th>
    </tr>
  </thead>
</table>

<div class="col-md-4 well well-sm">
  <table class="table">
    <thead>
      <tr>
        <th class="center" colspan="50">
          <h5>Experiment Details</h5>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Experiment Type:</td>
        <td>{{ experiment.experiment_type }}</td>
      </tr>
      <tr>
        <td>Organism:</td>
        <td>{{ experiment.organism }}</td>
      </tr>
      <tr>
        <td>Age:</td>
        <td>{{ experiment.age }}</td>
      </tr>
      <tr>
        <td>Sex:</td>
        <td>{{ experiment.sex }}</td>
      </tr>
      <tr>
        <td>Release Date:</td>
        <td>{{ experiment.release_date }}</td>
      </tr>
      <tr>
        <td>Platform:</td>
        <td>{{ experiment.platform }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-8">
  <div class="btn-group" uib-dropdown>
    <button id="split-button" type="button" class="btn btn-default">Choose Image</button>
    <button type="button" class="btn btn-default" uib-dropdown-toggle>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
      <li ng-repeat="img in images">
        <a ng-click="image_selected(img)">{{img.image_name}}</a>
      </li>
    </ul>
  </div>

  <div class="btn-group pull-right" ng-if="selected_image" >
    <button type="button" class="btn btn-default {{ mode == 'view' ? 'active' : null }}" ng-click="mode = 'view'">View</button>
    <button type="button" class="btn btn-default {{ mode == 'train' ? 'active' : null }}" ng-click="mode = 'train'">Train</button>
    <button type="button" class="btn btn-default {{ mode == 'classify' ? 'active' : null }}" ng-click="mode = 'classify'">Classify</button>
  </div>

  <p>
    <div class="text-center ">
      <strong>{{ selected_image.image_name }}</strong>
    </div>
  </p>

  <img ng-src="{{ selected_image.image_jpeg }}" ng-if="selected_image" width="862"/>

</div>