<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3" class="center">
        <div style="position:relative">
          <h4>Experiments <span class="badge badge-inverse align-top">{{ lm_experiments.length }}</span></h4>
        </div>
      </th>
    </tr>
    <tr>
      <th>Experiment ID</th>
      <th>something</th>
    </tr>
  </thead>

  <tbody>

    <tr ng-repeat="exp_id in lm_experiments">
      <td>
        {{ exp_id }}
      </td>
      <td>
        asdf
      </td>
    </tr>

  </tbody>
</table>
