<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th class="center" colspan="50">
          <div style="position:relative">
            <h4>Imageset: {{ animageset.image_set_name }}</h4>
          </div>
        </th>
      </tr>
    </thead>
  </table>
</div>
  <div class="col-md-4">
    <div class="row  well well-sm">
    <table class="table">
      <thead>
        <tr>
          <th class="center" colspan="50">
            <h5>Imageset Details</h5>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Magnification:</td>
          <td>{{ animageset.magnification }}</td>
        </tr>
        <tr>
          <td>Species:</td>
          <td>{{ animageset.species }}</td>
        </tr>
        <tr>
          <td>Development Stage:</td>
          <td>{{ animageset.development_stage }}</td>
        </tr>
        <tr>
          <td style="vertical-align: top !important;">Probes:</td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="p in animageset.probes">
                <div class='color-square {{ p.color }}'></div>{{ p.probe_label }} ({{ p.color }})
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="row  well well-sm">
    <table class="table">
      <thead>
        <tr>
          <th class="center" colspan="50">
            <h5>Imageset Model Details</h5>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Accuracy:</td>
          <td>{{ animageset.magnification }}</td>
        </tr>
        <tr>
          <td>Sample Size Used:</td>
          <td>{{ animageset.species }}</td>
        </tr>
        <tr>
          <td style="vertical-align: top !important;">Anatomy Used:</td>
          <td>
            <ul class="list-unstyled">
              <li ng-repeat="p in animageset.probes">
                {{ p.probe_label }} ({{ p.color }})
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
  <div class="col-md-8">
    <div class="btn-group" uib-dropdown>
      <button id="choose-img-button" type="button" class="btn btn-default">Choose Image</button>
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-img-button">
        <li ng-repeat="img in animageset.images">
          <a ng-click="image_selected(img)">{{img.image_name}}</a>
        </li>
      </ul>
    </div>

    <div class="btn-group pull-right" ng-if="selected_image" >
      <button type="button" class="btn btn-default {{ mode == 'view' ? 'active' : null }}" ng-click="set_mode('view')">View</button>
      <button type="button" class="btn btn-default {{ mode == 'train' ? 'active' : null }}" ng-click="set_mode('train')">Train</button>
      <button type="button" class="btn btn-default {{ mode == 'classify' ? 'active' : null }}" ng-click="set_mode('classify')">Classify</button>
    </div>

    <p>
      <div class="text-center">
        <strong>{{ selected_image.image_name }}</strong>
      </div>
    </p>

    <div ng-if="selected_image && mode == 'train'">
      <div class="row margin-bottom-5">
        <div class="col-md-3">
          <div class="btn-group btn-group-xs pull-left" uib-dropdown>
            <button id="choose-label-button" type="button" class="btn btn-default">Label Subregion</button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-label-button">
              <li ng-repeat="anatomy in anatomies_now">
                <a ng-click="select_classification(anatomy)">{{ anatomy.anatomy_name }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <span class="pull-left">
            <strong>{{ selected_classification.anatomy_name }}</strong>
          </span>
        </div>
        <div class="col-md-3">
          <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-success" ng-click="post_regions()" ng-disabled="!enabled">Save Regions</button>
            <button type="button" class="btn btn-success" ng-click="train_model()">Train Model</button>
          </div>
        </div>
      </div>

    </div>

    <div ng-if="selected_image && mode == 'classify'">
       <div class="row margin-bottom-5">
        <div class="col-md-12">
          <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-success" ng-click="classify_region()">Classify Region</button>
          </div>
        </div>
      </div>
    </div>

    <img ng-if="selected_image && !selected_image.image_orig_sha1" src="/static/whirligig.gif">

    <drw-polygon ng-if="selected_image.image_orig_sha1"
      img-url="selected_image.image_jpeg"
      width="poly_width" height="poly_height"
      regions="regions.svg" enabled="enabled">
    </drw-polygon>

  </div>
</div>