<div class="row">
  <div class="col-md-3">
    <div class="row  well well-sm">
      <table class="table">
        <thead>
          <tr>
            <th class="center" colspan="50">
              <h5>Image Set Details</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Image Count:</td>
            <td>{{ image_set.image_count }}</td>
          </tr>
          <tr>
            <td>Magnification:</td>
            <td>{{ image_set.magnification }}</td>
          </tr>
          <tr>
            <td>Species:</td>
            <td>{{ image_set.species }}</td>
          </tr>
          <tr>
            <td>Development Stage:</td>
            <td>{{ image_set.development_stage }}</td>
          </tr>
          <tr>
            <td style="vertical-align: top !important;">Probes:</td>
            <td>
              <ul class="list-unstyled">
                <li ng-repeat="p in image_set.probes">
                  <div class='color-square {{ p.color }}'></div>{{ p.probe_label }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th class="center" colspan="50">
              <h5>Training Data Summary</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Images with Sub-regions:</td>
            <td>{{ image_set.images_with_subregion_count }}</td>
          </tr>
          <tr>
            <td>Sub-region Count:</td>
            <td>{{ image_set.subregion_count }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-9">
    <div class="btn-group" uib-dropdown>
      <button id="choose-img-button" type="button" class="btn btn-default">Choose Image</button>
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-img-button">
        <li ng-repeat="img in images">
          <a ng-click="image_selected(img)">{{img.image_name}}</a>
        </li>
      </ul>
    </div>

    <div class="btn-group pull-right" ng-if="selected_image" >
      <button type="button" class="btn btn-default {{ mode == 'view' ? 'active' : null }}" ng-click="set_mode('view')">View</button>
      <button type="button" class="btn btn-default {{ mode == 'train' ? 'active' : null }}" ng-click="set_mode('train')">Train</button>
      <button type="button" class="btn btn-default {{ mode == 'classify' ? 'active' : null }}" ng-click="set_mode('classify')">Classify</button>
    </div>

    <p>
      <div class="text-center">
        <strong>{{ selected_image.image_name }}</strong>
      </div>
    </p>

    <div ng-if="selected_image && mode == 'train'">
      <div class="row margin-bottom-5">
        <div class="col-md-3">
          <div class="btn-group btn-group-xs pull-left" uib-dropdown>
            <button id="choose-label-button" type="button" class="btn btn-default">Label Subregion</button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="choose-label-button">
              <li ng-repeat="anatomy in anatomies_now">
                <a ng-click="select_classification(anatomy)">{{ anatomy.anatomy_name }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <span class="pull-left">
            <strong>{{ selected_classification.anatomy_name }}</strong>
          </span>
        </div>
        <div class="col-md-3">
          <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-success" ng-click="post_regions()" ng-disabled="!enabled">Save Regions</button>
            <button type="button" class="btn btn-success" ng-click="train_model()">Train Model</button>
          </div>
        </div>
      </div>

    </div>

    <div ng-if="selected_image && mode == 'classify'">
       <div class="row margin-bottom-5">
        <div class="col-md-12">
          <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-success" ng-click="classify_region()">Classify Region</button>
          </div>
        </div>
      </div>
    </div>

    <img ng-if="selected_image && !selected_image.image_orig_sha1" src="/static/whirligig.gif">

    <drw-polygon ng-if="selected_image.image_orig_sha1"
      img-url="selected_image.image_jpeg"
      width="poly_width" height="poly_height"
      regions="regions.svg" enabled="enabled">
    </drw-polygon>

  </div>
</div>