<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="50" class="center">
        <div style="position:relative">
          <h4>Image Sets <span class="badge badge-inverse align-top">{{ image_sets.length }}</span></h4>
        </div>
      </th>
    </tr>
  </thead>
</table>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      <form id="img-set-filter-form" method="get">
        <div style="position: relative">
          <h4>Filter</h4>
          <div style="position: absolute; right:0;top:0;">
            <button class="btn btn-default btn-sm" ng-click="filter_image_sets()">
              Apply
            </button>
          </div>
        </div>

        <hr/>

        <b>Species</b>
        <ul class="list-unstyled">
          <li ng-repeat="s in species">
            <label>
              <input type="checkbox" ng-model="s.query" />
              {{ s.name }}
            </label>
          </li>
        </ul>

        <hr/>

        <b>Magnification</b>
        <ul class="list-unstyled">
          <li ng-repeat="m in magnifications">
            <label>
              <input type="checkbox" ng-model="m.query" />
              {{ m.name }}
            </label>
          </li>
        </ul>

        <hr/>

        <b>Development Stage</b>
        <ul class="list-unstyled">
          <li ng-repeat="d in development_stages">
            <label>
              <input type="checkbox" ng-model="d.query" />
              {{ d.name }}
            </label>
          </li>
        </ul>

        <hr/>

        <b>Probe</b>
        <ul class="list-unstyled">
          <li ng-repeat="p in probes">
            <label>
              <input type="checkbox" ng-model="p.query" />
              {{ p.name }}
            </label>
          </li>
        </ul>

      </form>
    </div>
  </div>

  <div class="col-md-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Image Set</th>
          <th>Images</th>
          <th>Images w/ Subregions</th>
          <th>Subregions</th>
        </tr>
      </thead>

      <tbody>

        <tr ng-repeat="imset in image_sets">
          <td>
            <a href="#/image-sets/{{ imset.id }}">{{ imset.image_set_name }}</a>      </td>
          <td>
            {{ imset.image_count }}
          </td>
          <td>
              {{ imset.image_subregion_count }}
          </td>
          <td>
            {{ imset.subregion_count }}
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>

