<div class="modal-header">
  <h3 class="modal-title">How to Use the Training Data Tool</h3>
</div>
<div class="modal-body">
  <ul class="list-unstyled">
      <li> If training, ensure that an anatomical structure is selected from the drop down menu</li>
      <li> Using the mouse, left-click around the anatomical structure you are segmenting</li>
      <li> Lines connecting the points will automatically be drawn</li>
      <li> If you make a mistake, use the right-click button to remove a point</li>
      <li> You can also left-click, hold, and drag points to manipulate their placement</li>
      <li> Once finished, simply hit return and focus will be taken away from the created polygon</li>
      <li> Now, you can begin segmenting another structure (following the same procedure as above)</li>
      <li> Or, if you have segmented all subregions, you can click the 'Save Regions' button when training</li>
      <li> If classifing regions click 'Classify Region' when segmentation is complete</li>
  </ul>
  <a href="https://github.com/duke-lungmap-team/ihc-image-analysis/blob/master/UI_INSTRUCTIONS.md"><p style="text-align:center">Additional Information Here</p></a>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>