
<button>Train a Model</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2" class="center">
        <div style="position:relative">
          <h4>Training Data Summary</h4>
        </div>
      </th>
    </tr>
    <tr>
      <th>Anatomy</th>
      <th>Counts</th>
    </tr>
  </thead>

  <tbody>

    <tr ng-repeat="anatomy in subregionanatomycounts">
      <td>
          {{ anatomy.anatomy__name }}
      </td>
      <td>
          {{ anatomy.count }}
      </td>
    </tr>

  </tbody>
</table>